jupyter
pandas
openpyxl
numpy == 1.26.4
matplotlib
scikit-learn==1.2.2
streamlit
gradio
icrawler
flask
seaborn
pypdfium2
pypdf
PyMuPDF
python-docx   
PyQt5
sqlalchemy


openai
openai-agents
langchain
langchain_community
langchain_openai
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-experimental
llama-cpp-python 
huggingface_hub
sentence-transformers

crewai
crewai-tools
langgraph
ddgs

